<div class="card" *ngFor="let video of videos">
  <a [routerLink]="[video.id]">
    <img class="card-img-top" [src]="'data:image/jpg;base64,'+video.thumbs?.small?.$binary">
  </a>
  <div class="card-block">
    <h4 class="card-title">
      <a [routerLink]="[video.id]">{{video.title}}</a>
    </h4>
    <p class="card-text small">
      <strong>Type</strong> {{video.mimetype}}<br>
      <strong>Duration</strong> {{video.duration | duration}}<br>
      <strong>Size</strong> {{video.file_size}}<br>
      <template [ngIf]="video.tags?.length">
        <strong>Tags</strong> <span *ngFor="let tag of video.tags">{{tag}} </span>
      </template>
    </p>
  </div>
</div>
